In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
980,tt1217209,185000000,538983207,Brave,Kelly Macdonald|Julie Walters|Billy Connolly|E...,Mark Andrews|Steve Purcell|Brenda Chapman,Change your fate.,Brave is set in the mystical Scottish Highland...,93,Animation|Adventure|Comedy|Family|Action,Walt Disney Pictures|Pixar Animation Studios,6/21/2012,6.6,2012
945,tt0265349,32000000,55157539,The Mothman Prophecies,Richard Gere|Laura Linney|Will Patton|Bob Trac...,Mark Pellington,What do you see?,Reporter John Klein is plunged into a world of...,119,Drama|Mystery|Thriller|Horror,Lakeshore Entertainment,1/25/2002,5.9,2002
954,tt0168786,12500000,23367586,Antwone Fisher,Derek Luke|Malcolm David Kelley|Cory Hodges|De...,Denzel Washington,Antwone Fisher is at war... with himself.,A sailor prone to violent outbursts is sent to...,120,Drama|Romance,Fox Searchlight,12/19/2002,6.6,2002
1016,tt1673434,120000000,829000000,The Twilight Saga: Breaking Dawn - Part 2,Kristen Stewart|Robert Pattinson|Taylor Lautne...,Bill Condon,The epic finale that will live forever,"After the birth of Renesmee, the Cullens gathe...",115,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Sunswept Entertainment|Te...,11/13/2012,6.1,2012
302,tt1075417,50000000,106303988,Race to Witch Mountain,Dwayne Johnson|AnnaSophia Robb|Alexander Ludwi...,Andy Fickman,The race is on,A taxi driver gets more than he bargained for ...,98,Adventure|Family|Fantasy|Science Fiction|Thriller,Walt Disney Pictures|Gunn Films,3/12/2009,5.4,2009

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # словарь ответов


data['profit'] = data['revenue'] - data['budget']

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# №волпроса
# Пр: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# свой вар.
answers['1'] = '...'

In [7]:
import pandas as pd
df=pd.read_csv('movie_bd_v5.csv')
film_max_budget = df[df.budget == df.budget.max()].original_title
film_max_budget = f'{film_max_budget.iloc[0]} ({df[df.budget == df.budget.max()].imdb_id.iloc[0]})'
answers['1'] = film_max_budget

ВАРИАНТ 2

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
answers['2'] = '...'

In [10]:
import pandas as pd
df=pd.read_csv('movie_bd_v5.csv')
film_max_runtime = df[df.runtime == df.runtime.max()].original_title
film_max_runtime = f'{film_max_runtime.iloc[0]} ({df[df.runtime == df.runtime.max()].imdb_id.iloc[0]})'
answers['2'] = film_max_runtime

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
import pandas as pd
df=pd.read_csv('movie_bd_v5.csv')
film_min_runtime = df[df.runtime == df.runtime.min()].original_title
film_min_runtime = f'{film_min_runtime.iloc[0]} ({df[df.runtime == df.runtime.min()].imdb_id.iloc[0]})'
answers['3'] = film_min_runtime

# 4. Какова средняя длительность фильмов?

In [12]:
import pandas as pd
df=pd.read_csv('movie_bd_v5.csv')
mean_runtime = df.runtime.mean()
mean_runtime = f'4.{round(mean_runtime,0)}'
answers['4'] = mean_runtime

# 5. Каково медианное значение длительности фильмов?

In [13]:
import pandas as pd
df=pd.read_csv('movie_bd_v5.csv')
median_runtime = df.runtime.median()
median_runtime = f'{round(median_runtime,0)}'
answers['5'] = median_runtime

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
film_max_profit = data.sort_values(['profit'],ascending = False).iloc[0]
answers['6'] = f'{film_max_profit["original_title"]} ({film_max_profit["imdb_id"]})'

# 7. Какой фильм самый убыточный?

In [15]:
film_min_profit = data.sort_values(['profit'],ascending = True).iloc[0]
answers['7'] = f'{film_min_profit["original_title"]} ({film_min_profit["imdb_id"]})'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
#rmd-сборы
films_rmb = data.query('profit > 0')
answers['8'] = len(films_rmb)

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
film_max_profit_2008=data[data.release_year == 2008].sort_values('profit',ascending=False).iloc[0]
answers['9'] =f'{film_max_profit_2008["original_title"]} ({film_max_profit_2008["imdb_id"]})'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
data_from_period=data.query('2012<=release_year<=2014')
film_min_profit_2 = data_from_period.sort_values(['profit'],ascending = True).iloc[0]
answers['10'] = f'{film_min_profit_2["original_title"]} ({film_min_profit_2["imdb_id"]})'

# 11. Какого жанра фильмов больше всего?

In [19]:
list_of_genres = pd.Series(data.genres.str.split('|').sum()).value_counts()
answers['11']=list_of_genres.reset_index()['index'][0]

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
df=data.query('profit>0').genres
df
list_of_genres = pd.Series(df.str.split('|').sum()).value_counts()
answers['12']=list_of_genres.reset_index()['index'][0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [21]:

summ_revenue_director=data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).reset_index()
answers['13'] = summ_revenue_director.director[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
summ_action_director = data[data.genres.str.contains('Action')].director.str.split('|').explode().value_counts()
answers['14'] = summ_action_director.index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
data_2012 = data[data.release_year == 2012].copy()
data_2012['actors'] = data_2012.cast.str.split('|')
#data_2012=data_2012.explode('actors')
most_value_actor = data_2012.explode('actors').groupby(['actors'])['revenue'].sum()
answers['15'] = most_value_actor.sort_values(ascending = False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
data['actors'] = data.cast.str.split('|')
data = data.explode('actors')
data_2=data[data.budget > data.budget.mean()]
actor = data_2.actors.value_counts().reset_index()['index'][0]
answers['16']=actor

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
data['actors'] = data.cast.str.split('|').copy()
data['genres_2'] = data.genres.str.split('|').copy()
data = data.explode('actors')
data = data.explode('genres_2')
data_2 = data[data.actors == 'Nicolas Cage' ]
genre = data_2.genres_2.value_counts().reset_index()['index'][0]
answers['17']= genre

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
data['Comp'] = data.production_companies.str.split('|').copy()
data = data.explode('Comp').copy()
data_2 = data[data.Comp == 'Paramount Pictures'].copy()
film_ParPic_lp= data_2[data_2.profit == data_2.profit.min()] ['original_title']
film_ParPic_lp = f'{film_ParPic_lp.iloc[0]} ({data_2[data_2.profit == data_2.profit.min()].imdb_id.iloc[0]})'
answers['18'] = film_ParPic_lp

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
revenue_year = data.groupby('release_year').revenue.sum().sort_values(ascending = False).reset_index()
answers['19']=revenue_year.release_year[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
#mp -сам. приб.

data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
df_20 = data.copy()
df_20['production_companies_split'] = df_20.production_companies.str.split('|').copy()

data_2 = df_20.explode('production_companies_split')
data_2
data_2['Warner'] = data_2.production_companies_split.str.match('Warn')
data_2 = data_2[data_2.Warner == True]
WB_films_mp = data_2.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
answers['20'] = WB_films_mp.reset_index().release_year[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
df_21=data.copy()

df_21['month'] = df_21.release_date.str.split('/').apply (lambda x:int(x[0]))                                                      
month = df_21['month'].value_counts().reset_index()['index'][0]
answers['21'] = month

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
number_summer= df_21.query('5 < month < 9')['original_title'] .count()
answers['22'] = number_summer

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
df_23 = df_21.query('month > 11 | month <3')
df_23
df_23['producer_split'] = df_23.director.str.split('|')
df_23 = df_23.explode('producer_split')
dirs = df_23.producer_split.value_counts().reset_index()['index'][0]
answers['23'] = dirs

<ipython-input-31-a325f0b48182>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_23['producer_split'] = df_23.director.str.split('|')

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
df_24 = data
df_24['production_companies_split'] = df_24.production_companies.str.split('|')
df_24 = df_24.explode('production_companies_split')

df_24['len_original_title'] = df_24.original_title.apply(lambda x: len(x))
df_24
len_films = df_24.groupby(['production_companies_split'])['len_original_title'].max().sort_values(ascending = False)
answers['24'] = len_films.reset_index()['production_companies_split'][0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
df_25 = data.copy()
df_25['production_companies_split'] = df_25.production_companies.str.split('|')
df_25 = df_25.explode('production_companies_split')
df_25['len_overview_word'] = df_25.overview.apply(lambda x: len(x.split()))
len_overview_word = df_25.groupby(['production_companies_split'])['len_overview_word'].mean().sort_values(ascending = False)
answers['25'] = len_overview_word.reset_index()['production_companies_split'][0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
df_26 = data
df_26 = df_26.sort_values(['vote_average'],ascending = False)
df_26 = df_26[0:int(round(0.01*len(df_26),0))]
df_26['original_title'].reset_index()['original_title'][0]
c=[] - #фильмы 1%
for i in range (0,len(df_26)):
    c.append(df_26['original_title'].reset_index()['original_title'][i])

answers['26'] = c

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:

from itertools import combinations
data = pd.read_csv('movie_bd_v5.csv')
combs = [] 
for cast in data.cast.str.split('|'):
    combs.extend(combinations(cast, 2))
answers['27'] = pd.Series(combs).value_counts().index[0]

ВАРИАНТ 2

# Submission

In [36]:
# итоги
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '4.110.0',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Dark Knight',
  'Interstellar',
  'The Imitation Game',
  'Inside Out',
  'Room',
  'The Wolf of Wall Street',
  'Gone Girl',
  '12 Years a Slave',
  'Guardians of the Galaxy',
  'The Lord of the Rings: The Return of the King',
  'Memento',
  'Inception',
  'The Pianist',
  'The Grand Budapest Hotel',
  'Her',
  'Spotlight',
  'Big Hero 6',
  'The Fault in Our Stars',
  'The Lord of the Rings: The Two Towers'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [37]:
# ответы
len(answers)

27